.container2 {
  position: relative;
  width: 100%;
  height: calc(100vh - 63px);
  background: #ffffff;
}
.turquoise-circle {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 842px;
  top: 589px;
  border-radius: 50%;
  background: #75e3ea;
}


