.box {
    padding: 0rem 1rem 5rem !important;
  }
  .p-c {
    border-radius: 10px !important;
    background-color: #f1e4ff !important;
  }
  .c-h {
    text-align: center !important;
    background: #8c30f5 !important;
    color: white !important;
  }
  .main-container{
    margin-left: 
      10%
    ;
  }
  .btn {
    background: #8c30f5 !important;
    border-color: #8c30f5 !important;
  }
  .btn:hover {
    background: white !important;
    border-color: #8c30f5 !important;
    color: #8c30f5 !important;
  }
  
  .btn-one {
    border-color: #8c30f5 !important;
    background: white !important;
  }
  .btn-one:hover {
    background: #8c30f5 !important;
    border-color: #8c30f5 !important;
    color: white !important;
  }
  .faspricing{
    color: #8c30f5 !important;
  }
  
  .card-body h3 {
    text-align: center !important;
  }
  .btn-one a {
    text-decoration: none !important;
    color: #8c30f5 !important;
  }
  .btn-one a:hover {
    color: white !important;
  }
  
  .containeri {
    text-align: center !important;
    padding: 3rem 0 !important;
  }
  .containeri h1 {
    font-weight: 800 !important;
    color: #8c30f5 !important;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  @media screen and (max-width: 767px) {
    .containeri {
      padding: 3% 10% 2% !important;
    }
    .containeri h1 {
      font-size: 1.7rem !important;
      line-height: 1.5 !important;
    }
  }
  