.growth .top {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  }
  .growth .top p:nth-child(1) {
    font-size: 40px;
    font-weight: bold;
}
.growth .top p:nth-child(2) {
    font-size: 20px;
}

.p2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}
  /* .top p:nth-child(1) {
    font-size: 40px !important;
    font-weight: bold !important;
  }
  .top p:nth-child(2) {
    font-size: 20px !important;
  }
  .top p:nth-child(3) {
    font-size: 20px !important;
  } */