
.lpicon {
    font-size: 50px !important;
  }
   .bottom {
    display: flex;
    padding: 2rem;
    height: 200px;
  }
    .boxxx {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      margin: 3px;
      text-align: justify;
      border-radius: 50px;
      background: #ffffff;
  }
