.get-started {
    position: static !important;
    width: 196px !important;
    height: 62px !important;
    left: 0px !important;
    top: 308px !important;
  
    /* Brand / Purple */
  
    background: #8c30f5 !important;
    border-radius: 8px !important;
    color: #fff !important;
  
    /* Inside Auto Layout */
  
    flex: none !important;
    order: 1 !important;
    align-self: flex-start !important;
    flex-grow: 0 !important;
    margin: 0px 32px !important;
  }
  
  .get-started:hover {
    background: #5f1eaa !important;
    color: #fff !important;
  }