.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  #1d2031;
  }
  .content-contact {
    max-width: 800px;
    text-align: center;
  }
  .contact .content-contact h2 {
    font-size: 36px;
    font-weight: 500 !important;
    color: #fff;
  }
  .contact .content-contact p {
    font-weight: 300;
    color: #fff;
  }
  .container-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .container-contact .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .contact {
      padding: 20px;
    }
    .container-contact {
      flex-direction: column;
    }
    .container-contact .contactInfo {
      margin-bottom: 40px;
    }
    .container-contact .contactInfo,
    .contactForm {
      width: 100%;
    }
  }
