.flex a {
    color: #c4c4c4 !important;
  }
  .nav-item .active {
    color: #18191f !important;
  }

.dashboardrow {
    margin-left: unset;
    margin-right: unset;
  }
.user-profile {
    top: 0;
    right: 0;
  }
/* ------------- */
  .dash-footer{
    display: flex;
  }

  .dash-footer div{
    flex:1;
     
  }

  .editorh2{
margin: 2rem;
color: #8c30f5 
  }

  .viewedit{
    height: 200px;
    width: 100px;
    border: 3px #8c30f5 solid;
    border-radius: 10%;
    margin-left: 2rem;
    margin-right: 40%;
    margin-bottom: 5%;

  }

  .viewedit img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }

  .SIcont{
       display: flex;
       border-bottom: 3px solid white!important;

  }

  .SIcont div {
       flex: 1;
  }

  .SIcont button{
   height: 3rem;
   width: 5rem;
   margin-top: 15%;
   margin-right: 1%;
   background-color: red;
   color: white;
  }

  .SIcont button:hover{
    background-color:white;
    color:  red;
  }

  .Dpdf{
    background-color: blue;
    height: 3rem;
    width: 5rem;
    margin-top: 15%;
    margin-right: 1%;
    color: white;
    text-align: center;
    padding: 0px 2px;
    font-weight: 900;
  }

  .Dpdf:hover{
    background-color: white;
    color:blue ;
  }

  .teste{
    background-color: white !important;
    height: 3rem!important;
    width: 5rem !important;
    margin-top: 15% !important;
    margin-right: 1% !important;
    color: #8c30f5 !important;
    text-align: center !important;
    padding: 0px 2px !important;
    font-weight: 900 !important;

  }

  .teste:hover{
    background-color: #8c30f5 !important;
    color: white !important ;
  }
.grouplist{
  background-color: rgb(244, 245, 247);
  border-radius: 15px;
  border: 5px white solid;
  padding-top: 10px;
}
.grouplist ul li{
  list-style: none;
}


  .grouplist:hover{
    border: 1px #8c30f5 solid;
  }
  .grouplist ul li i{
    background-color: white;
    border-radius: 100%;
    font-size: larger;
    margin-right:10px;
    padding: 10px;
    color:  #8c30f5 ;
  }

  .groupdelete{
    margin: 0 10px;
    /* background-color: #dc3545; */
    color: #dc3545;
    font-size: larger;
  }
  .groupedit{
    margin:0 4px;
    padding:  0.375rem 0.75rem;
    color: #007bff;
    font-size: larger;
  }
  .groupdelete:hover{
    
    color: black;
  }
  .groupedit:hover{
    
    color:black;
  }
  .groupadd{
    font-size: larger;
    color: green;
  }
  .groupadd:hover{
    color: black;
  }
  /* 0.375rem 0.75rem; */
  .audienceheading{
    background-color: #8c30f5;
  border-radius: 15px;
  border: 4px white solid;
  padding-top: 10px;
  color:white;
  padding-bottom: 10px;
  }
  .audienceheading div h6{
    font-weight:900;
  }
.audiienceinfo{
  background-color: rgb(244, 245, 247);
  border-radius: 15px;
  border: 1px black solid;
  padding: 3px;
}

.audiienceinfo div h6{
    color: #8c30f5;
    font-weight: 500;
    
}
.audiienceinfo div{
  padding-right: 0;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.audienceheading div{
  padding-right: 0;  
  padding-left: 3px;  

}
.sendcamp{
  color: #007bff;
  font-weight: larger;
}
.audienceheading{
  padding: 2rem 0;
}
.selectbtn{
  margin: 1rem 0;
}