.main-hero {
    display: flex;
    /* position: absolute; */
    left: 0 !important;
    right: 11.97% !important;
    top: 12.53% !important;
    bottom: 22.76% !important;
  }

.container2{
    position: relative !important;
  width: 100% !important;
  height: calc(100vh - 63px) !important;
  background: #ffffff !important;
  padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: 6rem !important;
    margin-top: 3rem !important;

}