:root {
  --primary-color: #fff;
  --secondary-color: #8c30f5;
}
main {
  background: #8c30f51a;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

main .register {
  width: 70%;
  border-radius: 10px;
  background: #ffffff;
}

main .register h1 span {
  color: #8c30f5;
}

main .register .signin a {
  color: #8c30f5;
}

.register .input-field input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid gray;
  transition: all 0.5s ease-in-out;
}

.register .input-field input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #8c30f5;
  transition: all 0.5s ease-in-out;
}

.register form .btn {
  background: #8c30f5;
  color: #fff;
  align-self: center;
  width: 40%;
}

.register form .btn:hover {
  background: #5f1eaa;
}

/* Toggle password */
.register form span {
  display: flex;
  align-items: center;
}

.register form span i {
  margin-left: -30px;
  margin-top: -5px;
  color: black;
}

#error {
  color: red;
  text-align: center;
  justify-items: center;
  align-items: center;
  font-weight: 600;
}

.create .socials a {
  background: #8c30f5;
  text-decoration: none;
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create .socials a:hover {
  background: #000;
  color: #8c30f5;
}

@media screen and (max-width: 768px) {
  main .register {
    width: 100%;
  }

  .register form .btn {
    width: 70%;
  }

  .create {
    flex-direction: column;
  }

  .create .socials {
    margin-top: 1rem;
  }
}
