.services-section {
    /* margin: 5rem 0; */
  }
  .s-heading h1 {
    text-align: center;
  }
  .s-heading h1 {
    color: #8c30f5;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
  }
  .s-heading p {
    color: rgba(87, 105, 117, 0.6);
    font-size: 1rem;
    margin: 5px;
    text-align: center;
  }
  @media (max-width: 1050px) {
    .s-box-container {
      flex-wrap: wrap;
    }
    .services {
      height: auto;
    }
    .s-heading {
      margin: 15px;
    }
    .s-box {
      flex-grow: 1;
    }
  }
  