.wrapper{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.main{
    display: flex;
    flex: 8;
    background-color: #F4F5F7;
    flex-direction: column;
}
.title{
    color:#8C30F5;
    text-align: center;
}
.btn{
    color: #F4F5F7;
}


.nav-item .active {
  color: #18191f !important;
}

.row {
  margin-left: unset;
  margin-right: unset;
}

.user-profile {
  top: 0;
  right: 0;
}

.stats {
  height: 180px;
  width: 250px;
  margin: 2rem auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #000;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.1);
}

#registeredUsers {
  color: #594ce6;
  font-weight: 600;
}

#pageVisits {
  color: #0aa236;
  font-weight: 600;
}

#disabledUsers {
  color: #ae1414;
  font-weight: 600;
}

.stats .stat-name {
  padding: 1rem;
  height: 70%;
}

.stats .stat-name div {
  background: #d5d1fb;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .stat-name .visits {
  background: #b2ecc3;
}

.stats .stat-name .disabled {
  background: #e6caca;
}

.stats .stat-name div img {
  max-width: 50%;
  max-height: 50%;
}

.stats .stat-chart {
  height: 30%;
}

.stat-chart img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

:root {
  --primary-color: #fff;
  --secondary-color: #8c30f5;
}

h1 {
  color: #8c30f5;
  font-weight: 600;
  margin: 1rem;
  margin-bottom: 2rem;
}

h2 {
  color: #8c30f5;
}

.user-management {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  margin-left: unset;
  margin-right: unset;
}

img {
  border-radius: 50%;
}

.user-title {
  width: 100%;
}

.user-title .btn {
  float: right;
  width: 108px;
  height: 48px;
  background: #8c30f5;
}

.user-title .btn:hover {
  background: #6122aa;
}

.search {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  padding: 0.3rem;
  margin: 1rem 0;
  border-radius: 5px;
  width: 50%;
  border: solid 1px #000;
}

/* Form Styling */
.form {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.form .form-input {
  width: 100%;
}

.form .form-input:nth-of-type(9) {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form .form-input input {
  padding: 0.3rem;
  margin: 1rem 0;
  border-radius: 5px;
  width: 100%;
  border: solid 1px #000;
}

.form .form-input:nth-of-type(10) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form .form-input button {
  width: 100px;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 0.8rem;
}

.form-input.radio input {
  width: 5% !important;
}

/* Button Styling */
button {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 75px;
}

.addBtn {
  background: green;
  color: #fff;
  margin-left: 0.5rem;
}

.addBtn:hover {
  background: rgb(3, 87, 3);
}

.delBtn {
  background: red;
  color: #fff;
}

.delBtn:hover {
  background: rgb(168, 0, 0);
}

.editBtn {
  background: var(--secondary-color);
  color: #fff;
}

.editBtn:hover {
  background: #6122aa;
}

.updateBtn {
  background: var(--secondary-color);
  color: #fff;
}

.updateBtn:hover {
  background: rgb(0, 102, 255);
}

.searchBtn {
  padding: 0.6rem !important;
  margin-right: 5px !important;
  background: #8c30f5;
  border-radius: 5px;
  color: #fff;
}

.searchBtn.cancel {
  background: red;
}

.searchBtn.cancel:hover {
  background: rgb(172, 8, 8);
}

.searchBtn:hover {
  background: #6122aa;
}

.cancel {
  display: none;
}

/* Profile Styling */
#main {
  width: 50%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: #fff;
  padding: 2rem 0;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
  border-radius: 20px;
}

.profile button:first-of-type {
  margin-left: 0;
}

.item {
  width: 50%;
}

.error {
  color: red;
  display: inline-block;
  margin-left: 0.2rem;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .form {
    width: 70%;
  }

  #main {
    width: 70%;
  }

  .user-management {
    justify-content: unset;
    width: 100%;
  }

  @media screen and (max-width: 550px) {
    h1 {
      font-size: 1.75rem;
    }

    .form {
      width: 90%;
    }

    #main {
      width: 90%;
    }

    .profile {
      padding: 1.5rem;
    }

    .item {
      width: 100%;
    }

    .form .form-input button {
      width: 40%;
      margin: 1rem auto;
      padding: 0.8rem;
    }
  }
}
