.text-first {
    position: static !important;
    width: 540px !important;
    height: 196px !important;
    left: 0px !important;
    top: 0px !important;
  
    /* Heading / H1 */
  
    font-family: Manrope !important;
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 72px !important;
    line-height: 98px !important;
    /* or 136% */
  
    font-feature-settings: "liga" off !important;
  
    /* Text / Gray 900 */
  
    color: #18191f !important;
  
    /* Inside Auto Layout */
  
    flex: none !important;
    order: 0 !important;
    align-self: flex-start !important;
    flex-grow: 0 !important;
    margin: 0px 16px !important;
  }
  
  .text-second {
    position: static !important;
    width: 540px !important;
    height: 64px !important;
    left: 0px !important;
    top: 212px !important;
  
    /* Lead / Lead 1 */
  
    font-family: Manrope !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 32px !important;
    /* or 178% */
  
    font-feature-settings: "liga" off !important;
  
    /* Text / Gray 900 */
  
    color: #18191f !important;
  
    /* Inside Auto Layout */
  
    flex: none !important;
    order: 1 !important;
    align-self: flex-start !important;
    flex-grow: 0 !important;
    margin: 0px 16px !important;
  }